# Virtual environment
venv/
ENV/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/

# VSCode
.vscode/

# System files
.DS_Store
Thumbs.db

# Postman and environment files
*.env
